body{
    margin:0px;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 74px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family:serif ;
    font-weight: 500;
    font-size: 50px;
    position: fixed;
    top: 0;
}
#main{
margin-top: 74px;
width: 100%;
margin-bottom: 50px;
}
#con-dat{
    text-align: center;
    padding: 2px;
}
h2{
    font-size: 35px;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#date{
    font-size: 19px;
}
#content{
    display: flex;
    justify-content: space-around;
    line-height: 29px;
    font-size: 19px;
    
}
#content h1{
    line-height: 40px;
}
#div1{
    width:700px;
    height:auto;
    border: 2px solid;
    padding:20px;
}
img{
    width:300px;
    float: right;
}
@media (max-width: 480px){
    img{
        width: 100%;
        height: auto;
    }
    
}